version: '2.2'
services:
 zipkin:
   image: openzipkin/zipkin
   container_name: pm_zipkin
   privileged: true
   environment:
     STORAGE_TYPE: elasticsearch
     ES_HOSTS: 'http://elasticsearch:9200'
     RABBIT_QUEUE: zipkin
     RABBIT_ADDRESSES: 'rabbitmq:5672'
   restart: always
   ports:
   - 9411:9411
   networks:
   - pm-net
   depends_on:
      elasticsearch:
        condition: service_healthy
   links:
   - elasticsearch
   - rabbitmq

 zipkin-dependencies:
   image: openzipkin/zipkin-dependencies
   container_name: pm_zipkin-dependencies
   privileged: true
   environment:
     STORAGE_TYPE: elasticsearch
     ES_HOSTS: 'http://elasticsearch:9200'
   restart: always
   networks:
   - pm-net
   links:
   - zipkin
