elasticsearch:
   image: elasticsearch:7.10.1
   privileged: true
   environment:
     discovery.type: single-node
   restart: always
   # log_opt:
   #    max-size: "10m"
   #    max-file: "10"
   ports:
      - 9200:9200
   # volumes:
   #    - ./data/elasticsearch:/usr/share/elasticsearch/data

# logstash:
#    build: logstash
#    restart: always
#    log_opt:
#       max-size: "10m"
#       max-file: "10"
#    command: logstash -f /config-dir/logstash.conf
#    ports:
#      - 5044:5044
#    links:
#      - elasticsearch

kibana:
   image: kibana:7.10.1
   privileged: true
   restart: always
   # log_opt:
   #    max-size: "10m"
   #    max-file: "10"
   ports:
      - 5601:5601
   links:
      - elasticsearch

filebeat:
  image: docker.elastic.co/beats/filebeat:7.10.1
  privileged: true
  volumes:
    - ./filebeat.yml:/usr/share/filebeat/filebeat.yml
    - ../logs:/var/log
  links:
    - kibana
    - elasticsearch
