version: '2.2'
services:
  auth-service:
    build: auth-service
    container_name: pm-auth-service
    privileged: true
    # mem_limit: 400m
    # mem_reservation: 300m
    cpu_count: 1
    environment:
      CONFIG_SERVICE_PASSWORD: $CONFIG_SERVICE_PASSWORD
      NOTIFICATION_SERVICE_PASSWORD: $NOTIFICATION_SERVICE_PASSWORD
      STATISTICS_SERVICE_PASSWORD: $STATISTICS_SERVICE_PASSWORD
      ACCOUNT_SERVICE_PASSWORD: $ACCOUNT_SERVICE_PASSWORD
      MONGODB_PASSWORD: $MONGODB_PASSWORD
    restart: always
    depends_on:
      config:
        condition: service_healthy
    ports:
    - 5000:5000
    networks:
    - pm-net
