logging:
  config: '/var/piggymetrics/logback-spring.xml'
  file: '/var/log/piggymetrics/app.log'
  level:
    org.springframework.security: INFO

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 10000

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://registry:8761/eureka/

security:
  oauth2:
    resource:
      user-info-uri: http://auth-service:5000/uaa/users/current

spring:
  rabbitmq:
    host: rabbitmq

# TODO: move to a single config file
#  zipkin:
#    sender:
#      type: rabbit
#    rabbitmq:
#      queue: zipkin
#
## for test purpose
#  sleuth:
#    sampler:
#      probability: 1

zipkin-apm:
  sender: rabbitmq
  rabbitmq-addresses: "rabbitmq:5672"